/*! Font Family */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300&display=swap");

/*! Reset Values */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*! Page Default Parts */
body {
  height: 100dvh;
  font-family: "Roboto", sans-serif;
  background-color: rgb(242, 245, 246);
}
footer {
  position: absolute;
  bottom: 15px;
  display: grid;
  justify-items: center;
  width: 100vw;
}
footer span {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
footer .links {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

/*! Navbar */
nav {
  background-color: rgba(156, 184, 195, 0.2);
  display: flex;
  justify-content: space-between;
  height: 50px;
  border-radius: 0 0 30px 30px;
  box-shadow: 0px 0px 80px 20px rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding: 0 2% 0 2%;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
}
.show-code {
  color: white;
  height: 35px;
  width: 100px;
  font-size: 16px;
  font-weight: 800;
  border-radius: 8px;
  background-color: rgb(2, 117, 255);
  border: none;
}
.gen-code-header {
  margin-top: 15px;
  font-size: 22px;
}

/*! Show Code Div */
.show-div {
  z-index: 10;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #ffffff;
  height: 200px;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}
.code-part {
  display: flex;
  width: fit-content;
  margin-top: 3%;
  padding: 0 10px 0 10px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.close-show {
  position: absolute;
  height: 50px;
  width: 70px;
  border-radius: 5px;
  right: 10px;
  top: 10px;
}
.btn {
  cursor: pointer;
}
/*! Screen filter in show code mode */
.filter {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(5px);
}
.display-none {
  display: none;
}
/*! Front-Panel */
.panel {
  height: 80dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*! Drag Element */
#dragElement {
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 15px;
  font-size: 25px;
  right: 15px;
  cursor: pointer;
}

/*! Panel Parts */
.adjustments {
  position: fixed;
  top:80px;
  left: 30px;
  box-shadow: 0px 0px 60px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  text-align: center;
}
.adjustments h1 {
  margin-top: 15%;
}

/* Monitor Parts */
.monitor {
  z-index: -10;
  height: 80dvh;
  width: 80dvh;
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(242, 245, 246);
}
.dull {
  height: 30%;
  width: 30%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 0px;
}

/*! Adjustment Instruments */
.shadow-adjust {
  margin: 10px 10px 15px 10px;
}
.box-adjust {
  margin: 5px 10px 5px 0;
  width: 80%;
}
.shadow-label,
.box-label {
  margin: 15px 0 15px 0;
}
.adjustments input {
  z-index: 1;
}

.adjust-header-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}
.shadow-value,
.box-value {
  text-align: center;
  width: 40px;
  height: 25px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  border: 0px;
  background-color: rgba(0, 0, 0, 0.1);
}

/*! Number input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*! Color Adjustment Section */
.--color {
  display: flex;
  justify-content: space-around;
}
.clr {
  width: 15%;
  height: 25px;
  border-radius: 7px;
  border: 0px;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}

.-labels {
  margin-bottom: 10px;
}

#color {
  border-radius: 7px;
  height: 30px;
  width: 30%;
  size: 10px;
  margin-left: auto;
  margin-right: 10px;
}

/*! AdjustDiv Area */
#box-div {
  top: 140px;
  position: fixed;
  left: 80px;
  border-radius: 0 20px 20px 0;
  z-index: -10;
  background-color: #ffffff;
  width: 250px;
  height: 450px;
  box-shadow: 0px 0px 60px 20px rgba(0, 0, 0, 0.1);
}
#box-drawer {
  position: fixed;
  height: 80px;
  width: 25px;
  transform: translate(250px, 170px);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 0 20px 20px 0;
  justify-content: center;
  padding: 0 5px 0 0;
  cursor: pointer;
}
#shadow-div {
  position: sticky;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 300px;
  background-color: #ffffff;
}
